<h2>Task List:</h2>
<section>
  <table>
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <tr *ngFor='let task of tasks'>
        <td (click)='onSelect(task)'>{{ task._id }}</td>
        <td (click)='onSelect(task)'>{{ task.title }}</td>
        <td (click)='onSelect(task)'>{{ task.description }}</td>
        <td (click)='onSelect(task)'>{{ task.completed }}</td>
        <td> <a href="/tasks/edit/{{ task._id }}">Edit</a></td>
        <!-- router link -->
        <td> <a (click)='onDelete($event,task)' href="/tasks/destroy/{{ task._id }}">Delete</a></td>
        
        <!-- // use this for editTask just like task-details comes in on selected -->
        <!-- <td>  <button href="" (click)='turnEditFunctionOn(task._id}})'>Edit Task Test</button></td>  -->
      </tr>
    </tbody>
  </table>
</section>

<app-task-details [task]='selectedTask'></app-task-details>

<!-- <app-task-edit [edittedtask]='edittedTask'></app-task-edit> -->
<!-- // use this for editTask just like task-details comes in on selected -->