img{
    width: 150px;
    height: 150px;
    display: inline-block;
}
h1, p{
    margin: 0px;
}
.description{
    width: 50px;
    height: 100px;
    text-align: top;
}
.top, .bottom{
    margin: 5px;
    background-color: grey;
    border: 2px solid black;
    align-content: center;
    align-items: center;
}
.bikes{
    border: 2px solid black;
    margin: 5px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: white;
}
.image, .middle, .right{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    width: 150px;
}
input{
    border: 1px solid black;
    
}
/* .image{
    width: 200px;
} */
