<h1>{{ title }}</h1>
<div class="success" *ngIf="formData.submitted && users">
  <p>Thank you for registering with us {{ users[users.length - 1].firstName }}! We just sent you a confirmation email at: <a href="someLinkLocationSomewhere">({{ users[users.length - 1].email }})</a>, and we will send all mail to {{ users[users.length - 1].streetAddress }} {{ users[users.length - 1].apt}}, {{ users[users.length - 1].city }}, {{ users[users.length - 1].state }}.</p>
  <p>Have a wonderful day!</p>
</div>

<h3>Account Information</h3>
<form #formData='ngForm' (submit)="onSubmit($event, formData)">
    <p>*First Name: </p>
    <input 
      type="text" 
      name="firstName" 
      required 
      minlength="4" 
      maxlength="24"
      [(ngModel)]="user.firstName"
      #firstName='ngModel'
      placeholder="First Name"
    />
    <span *ngIf="firstName.touched && firstName.errors">{{ firstName.errors | json }}</span>
    <br>
    
    <p>*Last Name: </p>
    <input 
      type="text" 
      name="lastName" 
      required 
      minlength="4" 
      maxlength="24"
      [(ngModel)]="user.lastName"
      #lastName='ngModel'
      placeholder="Last Name"
    />
    <span *ngIf="lastName.touched && lastName.errors">{{ lastName.errors | json }}</span>
    <br>

    <p>*Email: </p>
    <input 
     type="text" 
     name="email" 
     required 
     minlength="4" 
     maxlength="24"
     [(ngModel)]="user.email"
     #email='ngModel'
     placeholder="Email"
   />
   <span *ngIf="email.touched && email.errors">{{ email.errors | json }}</span>
   <br>
    
    <p>*Password: </p>
    <input 
      type="text" 
      name="password" 
      required 
      minlength="10" 
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="user.password"
      #password='ngModel'
      placeholder="Password"
    />
    <span *ngIf="password.touched && password.errors">{{ password.errors | json }}</span>
    <br>
    
    <p>*Confirm Password: </p>
    <input 
      type="text" 
      name="confirmPassword" 
      required 
      minlength="10" 
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="user.confirmPassword"
      #confirmPassword='ngModel'
      placeholder="Confirm Password"
    />
    <span *ngIf="confirmPassword.touched && confirmPassword.errors">{{ confirmPassword.errors | json }}</span>
    <span *ngIf="confirmPassword.valid && confirmPassword.value !== password.value">Your password does not match!!</span>
    <br>
    
    <p>*Street Address: </p>
    <input 
      type="text" 
      name="streetAddress" 
      required 
      minlength="2" 
      maxlength="24"
      [(ngModel)]="user.streetAddress"
      #streetAddress='ngModel'
      placeholder="Street Address"
    />
    <span *ngIf="streetAddress.touched && streetAddress.errors">{{ streetAddress.errors | json }}</span>
    <br>
    
    <p>*City: </p>
    <input 
      type="text" 
      name="city" 
      required 
      minlength="4" 
      maxlength="24"
      [(ngModel)]="user.city"
      #city='ngModel'
      placeholder="City"
    />
    <span *ngIf="city.touched && city.errors">{{ city.errors | json }}</span>
    <br>
    
    <p>*State: </p>
    <input 
      type="text" 
      name="state" 
      required 
      minlength="4" 
      maxlength="14"
      [(ngModel)]="user.state"
      #state='ngModel'
      placeholder="State"
    />
    <span *ngIf="state.touched && state.errors">{{ state.errors | json }}</span>
    <br>

    <div class="radio">
        <label for="lucky">*I'm feeling lucky: </label>
        <input type="radio" name="lucky1" required [(ngModel)]="user.lucky" #lucky1="ngModel" value="true">Yes
        <input type="radio" name="lucky2" required [(ngModel)]="user.lucky" #lucky2="ngModel" value="false">No
        <!-- <span *ngIf="lucky.touched && (lucky1.valid || !lucky2.valid)" >Choosing how you feel is required.</span> -->
    </div>
    <input [disabled]="formData.invalid && (lucky1.valid || !lucky2.valid)" type="submit" value="Register">
    <!-- <input type='submit' *ngIf="password.valid && email.valid && first_name.valid && last_name.valid"(click)="submitUser()">
    <input type='submit' *ngIf="!password.valid || !email.valid || !first_name.valid || !last_name.valid" (click)="event.preventDefault(); alert('you clicked inside the header');"> -->
  </form>





  
<!-- <h2>{{formData | json}}</h2>
<div class="users">
    <div class="switch" *ngFor="let loop of looped; let idx = index">
      <p>{{idx}}: {{loop.first_name}}</p>
      <button *ngIf="switch"[ngClass]="{'on': switch}"(click)="flipSwitch(idx)">ON</button>
      <button *ngIf="!switch" [ngClass]="{'on': switch}" (click)="flipSwitch(idx)">OFF</button>
    </div>
</div>
<h2>{{ formData.errors | json }}</h2>
<h2>{{ formData.valid | json }}</h2> -->


