<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
</head>
<body>
    <div id="container">
        <fieldset>
            <legend>Messages/Comments</legend>
            <div id="messages">

                <form action="/messages/new" method="post" id="">
                    <h3>Create A Message:</h3>
                    <div><input type="text" name="name" id="name" placeholder="Enter your name here"></div>
                    <div><input type="textbox" name="message" id="message" placeholder="Enter message here"></div>
                    <input type="submit" value="Post Message!">
                </form>
            </div>
        </fieldset>
    </div>
</body>
</html>