<!-- <div id="wrapper">
    <app-root> 
        <div id="alpha">
            <app-alpha-component></app-alpha-component>
        </div> 
        <div id="beta">
            <app-beta-component>
                {{title}}
                <div id="gamma">
                    <app-gamma-compnent></app-gamma-compnent>
                </div>
            </app-beta-component>
        </div>
    </app-root>
</div>   -->
<h1>{{title}}</h1>
<div id="app">
    <app-alpha-component></app-alpha-component>
    <app-beta-component></app-beta-component>
</div>